@import 'colors';

.aside {
    background-color: $bg;
    padding: 44px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    @media (min-width: 500px) and (max-width:1000px){
      
        align-items: center;
    }

    @media (min-width: 1000px) {
        flex-direction: row;
        gap: 250px;
        justify-content: center;
        align-items: center;
        padding: 100px 15px;
    }

    &__container {
        display: flex;
        gap: 20px;
        flex-direction: column;

        &_main {
            @media (min-width: 1000px) {
                max-width: 300px;
            }

        }
    }
}