$gridWidth: 100px;

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, $gridWidth);
    justify-content: center;
    margin: 0 auto;
    gap: 10px;

}

.grid-item {
    &>img {
        aspect-ratio: 1/1;
    }
}